
:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dogsPage {
    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        height: 100%;
        max-width: 400px;
        box-sizing: border-box;
    }

    &-select {
        width: 100%;
        margin-bottom: 20px;
        box-sizing: border-box;
        mat-form-field {
            width: 100%;
        }
    }

}

@media (max-width:801px)  { 
  .dogsPage {
    &-wrapper {
        max-width: 100%;
        width: 100%;
    }
  }
}